/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}


#main-content {
    background-image: url(/Website%20Photos/Banal-Pool-\ 2-cropped.jpg);
    color: white;

}

html {
    scroll-behavior: smooth;
}

a {
    color: black;
}

a:hover {
    color: gray;
}

#phone-icon {
    height: 1rem;
}

.pool-banner {
    height: 30vh;
    width: 100vw;
}

#email-icon {
    height: 1rem;
}

#facebook-icon {
    height: 1rem;
}

#about {
    width: 700px;
    display: block;
    text-align: center;
    margin:auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    background-color: black;
    border-radius: 10%;
    padding: 1rem;
}

.about p {
    margin-top: 1 rem;
    margin-bottom: 1 rem;
}

#about-p-1 {
    margin-bottom: 1rem;
}

#about-p-2 {
    margin-bottom: 2rem;
}

#BBBA {
    text-align: center;
    display: block;
}

#BBB-quote {
    background-color: black;
    height: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
    padding-top: .5rem;
}

#copyright {
    position: sticky;
    bottom: 0;
}
#copyright-ps {
    position: sticky;
    bottom: 0;
    text-align: center;
    padding-top: 10rem;
}

/* TRANSITION */

.nav-links a, .btn {
    transition: all 300ms ease;
}


/* DESKTOP NAV */
nav, .nav-links {
    display: flex;
}
            
.logo {
    margin-top: 1.5rem;
    margin-bottom: .5rem;
    font-size: 2.5rem;
    font-style: italic;
}
            
.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.1rem;
}
            
.motto {
    font-style: italic;
    font-size: 1.5rem;
}
            
            
nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
    margin-top: 0;
}
            
#footer-nav {
    background-color: rgba(255, 255, 255, 0.788);
    display: inline-block;
}
            
#footer-nav .socials {
    margin-left: 2rem;
}

#email {
    border-right: none;
}
            
.socials {
    list-style-type: none;
}
            
#copyright {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
}



* {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */

  
  /* Hide the images by default */
  .mySlides {
    display: none;
    margin: 0 auto;
}
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }

#image-gallery {
    background-color: rgb(77, 76, 76);
}

  .container {
    scale: .65;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
/* Container for image text */
.caption-container {
    text-align: center;
    font-size: 1.5rem;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

  #bottom-caption {
    font-size: 3rem;   
    color: white; 
  }
