/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;

}

#main-content {
    background-image: url(/Website%20Photos/Banal-Pool-\ 2-cropped.jpg);
    color: white;

}

html {
    scroll-behavior: smooth;
}

a {
    color: black;
}

a:hover {
    color: gray;
}

#phone-icon {
    height: 1rem;
}

.pool-banner {
    height: 30vh;
    width: 100vw;
}

#email-icon {
    height: 1rem;
}

#facebook-icon {
    height: 1rem;
}

#about {
    width: 700px;
    display: block;
    text-align: center;
    margin:auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    background-color: black;
    border-radius: 10%;
    padding: 1rem;
}

.about p {
    margin-top: 1 rem;
    margin-bottom: 1 rem;
}

#about-p-1 {
    margin-bottom: 1rem;
}

#about-p-2 {
    margin-bottom: 2rem;
}

#BBBA {
    text-align: center;
    display: block;
}

#BBB-quote {
    background-color: black;
    height: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
    padding-top: .5rem;
}

#copyright {
    position: sticky;
    bottom: 0;
}
#copyright-ps {
    position: sticky;
    bottom: 0;
    text-align: center;
    padding-top: 10rem;
}

/* TRANSITION */

.nav-links a, .btn {
    transition: all 300ms ease;
}


/* DESKTOP NAV */
nav, .nav-links {
    display: flex;
}


.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.1rem;
}

.logo {
    margin-top: 1.5rem;
    margin-bottom: .5rem;
    font-size: 2.5rem;
    text-decoration: none;
    font-style: italic;
}
            
nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
    margin-top: 0;
}
            
#footer-nav {
    background-color: rgba(255, 255, 255, 0.788);
    display: inline-block;
}
            
#footer-nav .socials {
    margin-left: 2rem;
}

#email {
    border-right: none;
}
            
.socials {
    list-style-type: none;
}
            
#copyright {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
}


/* Products and Services Page*/

.products-services {
    display: flexbox;
    justify-content: center;
    margin-bottom: 3rem;

}

.collapsible {
    background-color: rgb(65, 154, 238);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 2rem;
}

#collapsible-caption {
    text-align: center;
    margin-top: 2rem;
    background-color: black;
    color: white;
}

.socials-ps {
    margin-left: 2rem;
    list-style: none;
}

.active, .collapsible:hover {
    background-color: #ccc;
}

.services-content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    text-align: center;
}
.products-content, .specials-content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    text-align: center;
}



.services-content p {
    margin: 1rem;
}